.content {
    display: flex;
}
.content > div {
    flex-basis: 50%;
}

.btn1 {
    border: 1px solid;
    color: #000;
    transition: 0.3s;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    flex-basis: calc((100% / 2) - 10px);
    cursor: pointer;

}
.btn1:hover {
    border: 1px solid;
    background-color: #000;
    color: white;
    transition: 0.3s;
    text-align: center;
}
.btn2 {
    border: 1px solid;
    background-color: #000;
    transition: 0.3s;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
    flex-basis: calc((100% / 2) - 10px);
    cursor: pointer;
}
