<div class="row row-cols-1 row-cols-md-3 g-4">
@for (cards of productCard ; track $index){
        <div class="col" (click)="redirect(cards.id)">
          <div class="card h-100">
            <img [src]="cards.images[0]" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="box d-flex justify-content-between">
                    <h5 class="card-title">{{cards.title}}</h5>
                    <p class="">{{cards.price}} EGP</p>
                </div>
                    <span [ngClass]="{'red' : cards.stock == 0 , 'green':cards.stock > 0}">
                {{cards.stock > 0 ? "stock":"out of stock"}}
            </span>
              <p class="card-text">{{cards.description}}</p>
              <p>Rate : {{cards.rating}}</p>
            </div>
            <a href="" class="btn1 ">add to cart</a>
          </div>
        </div>
      
        
<!--     
        <div class="box">
            <div class="image">
            <img [src]="card.images[0]" alt="" srcset="">
            <span [ngClass]="{'red' : card.stock == 0 , 'green':card.stock > 0}">
                {{card.stock > 0 ? "stock":"out of stock"}}
            </span>
        </div>
        <div class="info">
            <h3>{{card.title}}</h3>
            <p>{{card.description}}</p>
            <div class="rating">

            </div>
            <a href="" class="btn">add to cart</a>
        </div>
    </div> -->
}
</div>